body {
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    overflow: hidden;
}

.header {
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: #444;
  color: #fff;
  position: absolute;
  top: 0;
}

.map {
  position: absolute;
  left: 300px;
  right: 0;
  bottom: 0;
  top: 0;
}

.sidebar {
  position: absolute;
  left: 0px;
  width: 300px;
  top: 0;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
  overflow-y: auto;
}
